altgraph==0.17
future==0.18.2
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
pefile==2019.4.18
psutil==5.8.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pyinstaller-versionfile==1.0.2
pyparsing==2.4.7
PySimpleGUI==4.35.0
pywin32-ctypes==0.2.0
PyYAML==5.4.1
tinyaes==1.0.1
